CATALINA_OPTS="-Djava.awt.headless=true -Djava.library.path=/usr/java/packages/lib/amd64:/usr/lib64:/lib64:/lib:/usr/lib:/usr/lib/x86_64-linux-gnu -Xmx{{ tomcat_xmx }} -Xms{{ tomcat_xms }} -XX:MaxPermSize={{ tomcat_maxpermsize }} -XX:+UseConcMarkSweepGC"