.billboard .banners .banner {
  *zoom: 1; }
  .billboard .banners .banner:before {
    content: ' ';
    display: table; }
  .billboard .banners .banner:after {
    clear: both;
    content: ' ';
    display: table; }

@font-face {
  font-family: "CenturyStd-BookItalic";
  src: url("../assets/fonts/CenturyStd-BookItalic.eot");
  src: url("../assets/fonts/CenturyStd-BookItalic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/CenturyStd-BookItalic.woff") format("woff"), url("../assets/fonts/CenturyStd-BookItalic.ttf") format("truetype"); }
@font-face {
  font-family: "CenturyStd-Book";
  src: url("../assets/fonts/CenturyStd-Book.eot");
  src: url("../assets/fonts/CenturyStd-Book.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/CenturyStd-Book.woff") format("woff"), url("../assets/fonts/CenturyStd-Book.ttf") format("truetype"); }
@font-face {
  font-family: "AvenirLTStd-Heavy";
  src: url("../assets/fonts/AvenirLTStd-Heavy.eot");
  src: url("../assets/fonts/AvenirLTStd-Heavy.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/AvenirLTStd-Heavy.woff") format("woff"), url("../assets/fonts/AvenirLTStd-Heavy.ttf") format("truetype"); }
.main-nav .buckets .bucket, .main-nav .modules .module .controls {
  font-family: "AvenirLTStd-Heavy";
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "AvenirLTStd-Roman";
  src: url("../assets/fonts/AvenirLTStd-Roman.eot");
  src: url("../assets/fonts/AvenirLTStd-Roman.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/AvenirLTStd-Roman.woff") format("woff"), url("../assets/fonts/AvenirLTStd-Roman.ttf") format("truetype"); }
.billboard .banners .banner .container .content.basic-title p.subtitle, .billboard .banners .banner .container .content.upper-box p.blurb {
  font-family: "AvenirLTStd-Roman";
  font-weight: normal;
  font-style: normal; }

.billboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  position: relative; }
  .billboard .banners {
    flex-grow: 1;
    align-self: stretch;
    position: relative;
    background-color: #000; }
    .billboard .banners .next, .billboard .banners .prev {
      color: #fff;
      text-decoration: none;
      position: absolute;
      top: 50%;
      margin-top: -1.5rem;
      z-index: 2;
      opacity: 0.3;
      transition: 400ms;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0.5em; }
      .billboard .banners .next:hover, .billboard .banners .prev:hover {
        opacity: 1; }
      .billboard .banners .next:active, .billboard .banners .next:focus, .billboard .banners .prev:active, .billboard .banners .prev:focus {
        outline: 0; }
      .billboard .banners .next > i, .billboard .banners .prev > i {
        font-size: 3rem;
        color: rgba(255, 255, 255, 0.87);
        background: rgba(0, 0, 0, 0.47);
        border-radius: 3px; }
    .billboard .banners .prev {
      left: 0;
      align-items: flex-start; }
    .billboard .banners .next {
      right: 0;
      align-items: flex-end; }
    .billboard .banners .banner {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      z-index: 1;
      opacity: 1;
      transition: opacity linear 0.5s;
      background-repeat: no-repeat;
      background-position: top center;
      background-size: cover; }
      .billboard .banners .banner.ng-hide {
        opacity: 0; }
      .billboard .banners .banner .container {
        position: relative;
        flex-grow: 1;
        width: 100%; }
        .billboard .banners .banner .container .content {
          position: absolute;
          color: rgba(0, 0, 0, 0.54);
          /* Slide content is implemented using several different core templates.
           * Each template provides slots for different textual elements and lays
           * that text out appropriately to handle different page-widths. This is
           * designed to accomodate different image types and content needs flexibly
           * without requiring CSS to tailor the experience for each new slide.
           */
          /* A slide with a simple title and sub-title approximately 2/3 down the image.
           * This template provide for two main content elements
           *  - title:    Typically 2 to 5 words, large font
           *  - subtitle  Smaller font, about 80-120 characters. May be manually split
           *              over two or three lines.
           *
           * Class: basic-title
           * Variants
           *  - .right    Display the text on the right-hand edge of the slide
           *  - .textbg   Add a background shading under the text to improve legibility
           */ }
          @media all and (min-width: 35em) {
            .billboard .banners .banner .container .content {
              max-width: 50%; } }
          @media all and (min-width: 51em) {
            .billboard .banners .banner .container .content {
              max-width: 40%; } }
          .billboard .banners .banner .container .content h2 {
            color: #a47140;
            font-size: 2.1em;
            line-height: 1;
            margin: 0; }
            @media all and (min-width: 40em) {
              .billboard .banners .banner .container .content h2 {
                font-size: 2.4em; } }
          .billboard .banners .banner .container .content p {
            margin: 0.25em 0 0 0;
            line-height: 1.4;
            display: none; }
            @media all and (min-width: 35em) {
              .billboard .banners .banner .container .content p {
                display: block; } }
          .billboard .banners .banner .container .content .play-icon {
            margin-top: 1.5rem; }
            .billboard .banners .banner .container .content .play-icon a {
              display: block;
              text-decoration: none; }
              .billboard .banners .banner .container .content .play-icon a:active, .billboard .banners .banner .container .content .play-icon a:focus, .billboard .banners .banner .container .content .play-icon a:hover {
                outline: 0; }
            .billboard .banners .banner .container .content .play-icon i {
              display: block;
              font-size: 3em; }
          .billboard .banners .banner .container .content.bottom {
            bottom: 1rem; }
          .billboard .banners .banner .container .content.top {
            top: 2rem; }
          .billboard .banners .banner .container .content.left {
            left: 1rem; }
          .billboard .banners .banner .container .content.right {
            right: 1rem; }
          .billboard .banners .banner .container .content.dark {
            color: rgba(255, 255, 255, 0.54); }
            .billboard .banners .banner .container .content.dark .play-icon i {
              color: rgba(255, 255, 255, 0.54); }
          .billboard .banners .banner .container .content.overlay {
            padding: 1rem;
            background-color: rgba(255, 255, 255, 0.75); }
          @media all and (min-width: 20em) {
            .billboard .banners .banner .container .content {
              font-size: 1.125em; } }
          @media all and (min-width: 40em) {
            .billboard .banners .banner .container .content {
              font-size: 1.25em; } }
          @media all and (min-width: 60em) {
            .billboard .banners .banner .container .content {
              font-size: 1.5em; } }
          @media all and (min-width: 80em) {
            .billboard .banners .banner .container .content {
              font-size: 1.75em; } }
          .billboard .banners .banner .container .content.basic-title p.subtitle {
            font-size: 0.9em;
            margin: 1em 0 0; }
            .billboard .banners .banner .container .content.basic-title p.subtitle p.subtitle {
              display: none; }
          .billboard .banners .banner .container .content.basic-title.textbg {
            background-color: rgba(26, 27, 26, 0.5); }
          .billboard .banners .banner .container .content.upper-box {
            top: 1rem;
            left: 1rem;
            bottom: auto;
            padding: 5% 1rem 1em;
            display: inline-block; }
            .billboard .banners .banner .container .content.upper-box h2 {
              font-size: 1.5em; }
            .billboard .banners .banner .container .content.upper-box h3 {
              color: inherit;
              font-size: 1.1em;
              margin-left: 1em;
              margin-top: 0.25em;
              margin-bottom: 1em; }
            .billboard .banners .banner .container .content.upper-box p.blurb {
              font-size: 0.8em;
              margin: 0.5em 0 0;
              padding-right: 3em; }
            .billboard .banners .banner .container .content.upper-box.right {
              right: 1rem;
              left: auto;
              text-align: left; }
            .billboard .banners .banner .container .content.upper-box.textbg {
              background-color: rgba(26, 27, 26, 0.35); }
              .billboard .banners .banner .container .content.upper-box.textbg-copper {
                background-color: rgba(184, 133, 84, 0.5); }
            @media all and (min-width: 20em) {
              .billboard .banners .banner .container .content.upper-box {
                max-width: 80%;
                font-size: 1.125em;
                padding-top: 7.5%; } }
            @media all and (min-width: 30em) {
              .billboard .banners .banner .container .content.upper-box {
                padding-top: 2rem; }
                .billboard .banners .banner .container .content.upper-box p.blurb {
                  display: block; } }
            @media all and (min-width: 40em) {
              .billboard .banners .banner .container .content.upper-box {
                font-size: 1.25em; } }
            @media all and (min-width: 60em) {
              .billboard .banners .banner .container .content.upper-box {
                font-size: 1.5em; } }
            @media all and (min-width: 80em) {
              .billboard .banners .banner .container .content.upper-box {
                font-size: 1.75em; } }
  .billboard .control-nav {
    position: absolute;
    bottom: 1rem;
    z-index: 1;
    list-style: none;
    margin: 0;
    padding: 0; }
    .billboard .control-nav li {
      padding: 0.25rem; }
      .billboard .control-nav li a {
        display: block;
        height: 0.5rem;
        width: 0.5rem;
        line-height: 0;
        text-indent: -9999px;
        border-radius: 50%;
        border: 1px solid rgba(255, 255, 255, 0.87);
        cursor: pointer;
        transition: background-color 300ms;
        box-shadow: 0 0 0.5rem #000;
        background: rgba(0, 0, 0, 0.47); }
        .billboard .control-nav li a:focus, .billboard .control-nav li a:hover {
          background-color: rgba(255, 255, 255, 0.47); }
        .billboard .control-nav li a.active {
          background-color: rgba(255, 255, 255, 0.87); }

.main-nav {
  background-color: #f2f2f0; }
  .main-nav .buckets {
    margin: 0;
    padding: 0;
    list-style: none; }
    @media only all and (min-width: 60em) {
      .main-nav .buckets {
        min-width: 300px;
        max-width: 300px; } }
    .main-nav .buckets .bucket {
      background-color: #b88554;
      border-bottom: 1px solid #a47140; }
      .main-nav .buckets .bucket:last-child {
        border-bottom: 0; }
      .main-nav .buckets .bucket.active {
        background-color: #a47140; }
      @media only all and (min-width: 31em) {
        .main-nav .buckets .bucket {
          border: 0;
          border-right: 1px solid #a47140; }
          .main-nav .buckets .bucket:last-child {
            border-right: 0; } }
      @media only all and (min-width: 64em) {
        .main-nav .buckets .bucket {
          border-bottom: 1px solid #a47140;
          border-right: 0; }
          .main-nav .buckets .bucket:last-child {
            border-bottom: 0; } }
      .main-nav .buckets .bucket a {
        color: #fff;
        font-size: 1em;
        line-height: 1.8;
        text-decoration: none;
        text-transform: uppercase;
        padding: 1.5rem; }
        .main-nav .buckets .bucket a:active, .main-nav .buckets .bucket a:focus, .main-nav .buckets .bucket a:hover {
          text-decoration: none; }
  .main-nav .modules {
    position: relative; }
    .main-nav .modules .module {
      opacity: 1;
      transition: opacity 0.4s;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0; }
      .main-nav .modules .module.ng-hide {
        opacity: 0; }
      .main-nav .modules .module .controls {
        margin: 0;
        padding: 0;
        list-style: none;
        background-color: #e8e7e3;
        text-transform: uppercase;
        border-bottom: 4px solid #dfddd5;
        font-size: 0.9em; }
        .main-nav .modules .module .controls li {
          padding: 1rem 1.5rem;
          text-align: center;
          border: 1px solid #dfddd5; }
          @media only all and (min-width: 50em) {
            .main-nav .modules .module .controls li {
              border: 0;
              line-height: 1.2; } }
          .main-nav .modules .module .controls li.active a {
            color: #b88554; }
            @media only all and (min-width: 50em) {
              .main-nav .modules .module .controls li.active a {
                color: #b88554;
                box-sizing: border-box; }
                .main-nav .modules .module .controls li.active a:before {
                  background-color: white;
                  left: 0;
                  bottom: -1.2rem;
                  content: '';
                  display: block;
                  height: 4px;
                  position: absolute;
                  width: 100%; } }
          .main-nav .modules .module .controls li a {
            color: #acaaa3;
            position: relative;
            text-decoration: none; }
            .main-nav .modules .module .controls li a:active, .main-nav .modules .module .controls li a:focus, .main-nav .modules .module .controls li a:hover {
              color: #b88554;
              outline: 0; }
      .main-nav .modules .module .panels {
        position: relative; }
        .main-nav .modules .module .panels .panel-set {
          opacity: 1;
          transition: opacity 0.4s;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0; }
          .main-nav .modules .module .panels .panel-set.ng-hide {
            opacity: 0; }
          .main-nav .modules .module .panels .panel-set .layout-row.border > * {
            border-top: 2px dotted #bbb; }
            @media only all and (min-width: 50em) {
              .main-nav .modules .module .panels .panel-set .layout-row.border > * {
                border-top: none;
                border-left: 2px dotted #bbb; } }
            .main-nav .modules .module .panels .panel-set .layout-row.border > *:first-child {
              border-top: none;
              border-left: none; }
          .main-nav .modules .module .panels .panel-set .layout-column.border > * {
            border-top: 2px dotted #bbb; }
            .main-nav .modules .module .panels .panel-set .layout-column.border > *:first-child {
              border-top: none; }
          .main-nav .modules .module .panels .panel-set .panel .panel-content > div, .main-nav .modules .module .panels .panel-set .panel .panel-content > a {
            padding: 3rem;
            text-decoration: none;
            color: inherit; }
            .main-nav .modules .module .panels .panel-set .panel .panel-content > div:active, .main-nav .modules .module .panels .panel-set .panel .panel-content > div:focus, .main-nav .modules .module .panels .panel-set .panel .panel-content > div:hover, .main-nav .modules .module .panels .panel-set .panel .panel-content > a:active, .main-nav .modules .module .panels .panel-set .panel .panel-content > a:focus, .main-nav .modules .module .panels .panel-set .panel .panel-content > a:hover {
              outline: 0; }
          .main-nav .modules .module .panels .panel-set .panel .panel-content-link .read-more {
            line-height: 1;
            font-size: 4rem;
            transition: color 200ms;
            color: rgba(0, 0, 0, 0.13); }
          .main-nav .modules .module .panels .panel-set .panel .panel-content-link:hover .read-more, .main-nav .modules .module .panels .panel-set .panel .panel-content-link:focus .read-more, .main-nav .modules .module .panels .panel-set .panel .panel-content-link:active .read-more {
            color: #b88554; }
          .main-nav .modules .module .panels .panel-set .panel .panel-content-video {
            text-align: center; }
            .main-nav .modules .module .panels .panel-set .panel .panel-content-video h3 {
              transition: color 200ms;
              color: #acaaa3; }
            .main-nav .modules .module .panels .panel-set .panel .panel-content-video .play-icon > i {
              color: rgba(0, 0, 0, 0.13);
              font-size: 4rem;
              border-radius: 50%;
              border: 2pt solid rgba(0, 0, 0, 0.13);
              transition: all 200ms; }
            .main-nav .modules .module .panels .panel-set .panel .panel-content-video:hover h3, .main-nav .modules .module .panels .panel-set .panel .panel-content-video:focus h3, .main-nav .modules .module .panels .panel-set .panel .panel-content-video:active h3 {
              color: #333333; }
            .main-nav .modules .module .panels .panel-set .panel .panel-content-video:hover .play-icon > i, .main-nav .modules .module .panels .panel-set .panel .panel-content-video:focus .play-icon > i, .main-nav .modules .module .panels .panel-set .panel .panel-content-video:active .play-icon > i {
              color: rgba(0, 0, 0, 0.54);
              border-color: #a47140; }
          .main-nav .modules .module .panels .panel-set .panel .panel-content-image {
            text-align: left;
            background-size: cover;
            background-position: center center; }
            .main-nav .modules .module .panels .panel-set .panel .panel-content-image > div, .main-nav .modules .module .panels .panel-set .panel .panel-content-image > a {
              padding: 1rem;
              position: relative;
              transition: background-color 200ms;
              background-color: rgba(0, 0, 0, 0.54);
              color: rgba(255, 255, 255, 0.87); }
              .main-nav .modules .module .panels .panel-set .panel .panel-content-image > div h3, .main-nav .modules .module .panels .panel-set .panel .panel-content-image > a h3 {
                font-size: 1.8em;
                font-family: CenturyStd-Book;
                color: #b88554; }
              .main-nav .modules .module .panels .panel-set .panel .panel-content-image > div > h3, .main-nav .modules .module .panels .panel-set .panel .panel-content-image > div > p, .main-nav .modules .module .panels .panel-set .panel .panel-content-image > a > h3, .main-nav .modules .module .panels .panel-set .panel .panel-content-image > a > p {
                transition: opacity 200ms; }
              .main-nav .modules .module .panels .panel-set .panel .panel-content-image > div .play-icon, .main-nav .modules .module .panels .panel-set .panel .panel-content-image > a .play-icon {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0; }
                .main-nav .modules .module .panels .panel-set .panel .panel-content-image > div .play-icon > i, .main-nav .modules .module .panels .panel-set .panel .panel-content-image > a .play-icon > i {
                  color: rgba(255, 255, 255, 0.47);
                  border: 0; }
            .main-nav .modules .module .panels .panel-set .panel .panel-content-image:hover > div, .main-nav .modules .module .panels .panel-set .panel .panel-content-image:hover > a, .main-nav .modules .module .panels .panel-set .panel .panel-content-image:focus > div, .main-nav .modules .module .panels .panel-set .panel .panel-content-image:focus > a, .main-nav .modules .module .panels .panel-set .panel .panel-content-image:active > div, .main-nav .modules .module .panels .panel-set .panel .panel-content-image:active > a {
              background-color: transparent; }
              .main-nav .modules .module .panels .panel-set .panel .panel-content-image:hover > div > h3, .main-nav .modules .module .panels .panel-set .panel .panel-content-image:hover > div > p, .main-nav .modules .module .panels .panel-set .panel .panel-content-image:hover > a > h3, .main-nav .modules .module .panels .panel-set .panel .panel-content-image:hover > a > p, .main-nav .modules .module .panels .panel-set .panel .panel-content-image:focus > div > h3, .main-nav .modules .module .panels .panel-set .panel .panel-content-image:focus > div > p, .main-nav .modules .module .panels .panel-set .panel .panel-content-image:focus > a > h3, .main-nav .modules .module .panels .panel-set .panel .panel-content-image:focus > a > p, .main-nav .modules .module .panels .panel-set .panel .panel-content-image:active > div > h3, .main-nav .modules .module .panels .panel-set .panel .panel-content-image:active > div > p, .main-nav .modules .module .panels .panel-set .panel .panel-content-image:active > a > h3, .main-nav .modules .module .panels .panel-set .panel .panel-content-image:active > a > p {
                opacity: 0; }
            .main-nav .modules .module .panels .panel-set .panel .panel-content-image:hover .play-icon > i, .main-nav .modules .module .panels .panel-set .panel .panel-content-image:focus .play-icon > i, .main-nav .modules .module .panels .panel-set .panel .panel-content-image:active .play-icon > i {
              color: inherit; }
          .main-nav .modules .module .panels .panel-set .panel figure {
            position: relative;
            overflow: hidden;
            width: 100%; }
            .main-nav .modules .module .panels .panel-set .panel figure iframe, .main-nav .modules .module .panels .panel-set .panel figure img {
              width: 100%;
              display: block;
              margin: 0 auto; }
          .main-nav .modules .module .panels .panel-set .panel h3 {
            font-size: 1.3em;
            line-height: 1.2;
            margin: 0 0 1rem;
            font-family: AvenirLTStd-Heavy;
            color: #333333; }
          .main-nav .modules .module .panels .panel-set .panel p {
            font-size: 0.9em; }
          .main-nav .modules .module .panels .panel-set .section-footer {
            display: block;
            padding: 1rem;
            text-align: center;
            font-size: 1.3em;
            text-decoration: none;
            color: inherit;
            opacity: 0.54;
            transition: opacity 200ms; }
            .main-nav .modules .module .panels .panel-set .section-footer .read-more {
              display: inline-block;
              color: #a47140;
              font-size: 2rem;
              font-weight: bold;
              line-height: 0.8;
              transition: transform 400ms; }
            .main-nav .modules .module .panels .panel-set .section-footer:hover, .main-nav .modules .module .panels .panel-set .section-footer:focus, .main-nav .modules .module .panels .panel-set .section-footer:active {
              opacity: 1; }
              .main-nav .modules .module .panels .panel-set .section-footer:hover .read-more, .main-nav .modules .module .panels .panel-set .section-footer:focus .read-more, .main-nav .modules .module .panels .panel-set .section-footer:active .read-more {
                transform: translate(1rem, 0); }

main, .main {
  background-color: #ffffff;
  color: #2e2e2e; }

.site-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 4rem; }

.disclaimer {
  position: absolute;
  left: 0;
  right: 0;
  top: 4rem;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 2rem; }
  .disclaimer > .container {
    display: flex;
    flex-direction: column;
    align-items: center; }
    @media screen and (min-width: 51em) {
      .disclaimer > .container {
        flex-direction: row; } }
    .disclaimer > .container .icon {
      color: #ff0;
      font-size: 3em;
      display: block;
      margin-bottom: 1.5rem; }
      @media screen and (min-width: 51em) {
        .disclaimer > .container .icon {
          margin-bottom: 0;
          margin-right: 2rem; } }
    .disclaimer > .container p {
      margin: 0;
      flex: 1; }

.fullpage-scroll-section {
  position: relative; }
  .fullpage-scroll-section.dark {
    background: #272927;
    color: #d2cfc3; }
    .fullpage-scroll-section.dark h1, .fullpage-scroll-section.dark h2, .fullpage-scroll-section.dark h3, .fullpage-scroll-section.dark h4, .fullpage-scroll-section.dark h5, .fullpage-scroll-section.dark h6 {
      color: #fff; }
  .fullpage-scroll-section .scroll-indicator {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    bottom: 1rem;
    right: 1rem;
    text-decoration: none;
    outline: 0;
    z-index: 3; }
    .fullpage-scroll-section .scroll-indicator .label {
      opacity: 0;
      transition: opacity 400ms;
      margin-right: 0.75rem; }
    .fullpage-scroll-section .scroll-indicator i {
      background: #b88554;
      border-radius: 3px;
      color: rgba(255, 255, 255, 0.87);
      font-size: 2rem;
      display: block;
      height: 2rem;
      width: 2rem;
      line-height: 1; }
    .fullpage-scroll-section .scroll-indicator:focus .label, .fullpage-scroll-section .scroll-indicator:hover .label {
      opacity: 1; }

.main-nav form.search-form .input-group {
  display: flex;
  flex-direction: row; }
  .main-nav form.search-form .input-group input {
    flex-grow: 1;
    height: 2.5rem;
    margin: 0;
    padding: 0.5rem;
    border: 1px solid #999;
    border-right: 0;
    font-family: inherit;
    font-size: inherit;
    -moz-appearance: none;
    -webkit-appearance: none; }
    .main-nav form.search-form .input-group input:focus {
      border-color: #a47140; }
  .main-nav form.search-form .input-group button {
    margin: 0;
    height: 2.5rem;
    min-width: 2.5rem;
    text-align: center;
    background: #a47140;
    border: 1px solid #a47140;
    color: #eee8de;
    cursor: pointer;
    transition: all 0.2s;
    text-transform: uppercase;
    padding: 0 1rem; }
    .main-nav form.search-form .input-group button > span {
      font-size: 0.95em;
      letter-spacing: 1px; }
    .main-nav form.search-form .input-group button:focus, .main-nav form.search-form .input-group button:hover {
      background: #b67e47; }
    .main-nav form.search-form .input-group button::-moz-focus-inner {
      border: 0; }
    .main-nav form.search-form .input-group button:active {
      background: #926439;
      box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.3); }

.about-project .container {
  padding: 2rem 3rem; }
.about-project .fp-controlArrow.fp-prev {
  border-right-color: #acaaa3; }
.about-project .fp-controlArrow.fp-next {
  border-left-color: #acaaa3; }
.about-project .advisors {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; }
  @media only screen and (min-width: 35em) {
    .about-project .advisors {
      flex-direction: row; } }
  .about-project .advisors .member {
    padding: 1em; }
    @media only screen and (min-width: 35em) {
      .about-project .advisors .member {
        width: 50%; } }
    @media only screen and (min-width: 51em) {
      .about-project .advisors .member {
        width: 33%; } }
    @media only screen and (min-width: 70em) {
      .about-project .advisors .member {
        width: 25%; } }
    .about-project .advisors .member .name {
      color: #272927;
      font-weight: bold;
      display: block; }
    .about-project .advisors .member .position {
      font-size: 0.9em;
      color: #acaaa3;
      display: block; }

.content-news {
  font-size: 0.9em; }
  .content-news .container {
    display: flex;
    flex-direction: column; }
    @media only screen and (min-width: 51em) {
      .content-news .container {
        flex-direction: row; } }
    .content-news .container aside {
      padding: 2rem 3rem;
      flex: 1;
      border-bottom: 1px solid #353635; }
      @media only screen and (min-width: 51em) {
        .content-news .container aside {
          border-bottom: 0;
          border-right: 1px solid #353635; } }
    .content-news .container .content {
      padding: 2rem 3rem;
      flex: 2;
      display: flex;
      flex-direction: column; }
      .content-news .container .content h1, .content-news .container .content h2, .content-news .container .content h3, .content-news .container .content h4, .content-news .container .content h5, .content-news .container .content h6 {
        line-height: 1.8;
        text-transform: uppercase;
        letter-spacing: 3px;
        border-bottom: 2px dotted #353635; }
      .content-news .container .content ol {
        margin: 0 0 2em;
        padding: 0;
        list-style: none; }
        .content-news .container .content ol li {
          margin: 1rem 0;
          padding: 0 0 1rem;
          border-bottom: 1px solid #353635; }
          .content-news .container .content ol li:last-child {
            border-bottom: 0; }
          .content-news .container .content ol li .title {
            display: block;
            text-decoration: none;
            font-size: 1.3em; }

.video-container {
  position: relative;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  padding-bottom: 56.25%; }
  .video-container > iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
