@font-face {
  font-family: "CenturyStd-BookItalic";
  src: url("../assets/fonts/CenturyStd-BookItalic.eot");
  src: url("../assets/fonts/CenturyStd-BookItalic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/CenturyStd-BookItalic.woff") format("woff"), url("../assets/fonts/CenturyStd-BookItalic.ttf") format("truetype"); }
@font-face {
  font-family: "CenturyStd-Book";
  src: url("../assets/fonts/CenturyStd-Book.eot");
  src: url("../assets/fonts/CenturyStd-Book.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/CenturyStd-Book.woff") format("woff"), url("../assets/fonts/CenturyStd-Book.ttf") format("truetype"); }
h1, h2, h3, h4, h5, h6 {
  font-family: "CenturyStd-Book";
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "AvenirLTStd-Heavy";
  src: url("../assets/fonts/AvenirLTStd-Heavy.eot");
  src: url("../assets/fonts/AvenirLTStd-Heavy.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/AvenirLTStd-Heavy.woff") format("woff"), url("../assets/fonts/AvenirLTStd-Heavy.ttf") format("truetype"); }
@font-face {
  font-family: "AvenirLTStd-Roman";
  src: url("../assets/fonts/AvenirLTStd-Roman.eot");
  src: url("../assets/fonts/AvenirLTStd-Roman.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/AvenirLTStd-Roman.woff") format("woff"), url("../assets/fonts/AvenirLTStd-Roman.ttf") format("truetype"); }
body {
  font-family: "AvenirLTStd-Roman";
  font-weight: normal;
  font-style: normal; }

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  line-height: 1.8; }

h1, h2, h3, h4, h5, h6 {
  color: #b88554;
  line-height: 1.3; }
  h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
    margin-top: 0; }

p:last-child {
  margin-bottom: 0; }

a {
  color: #b88554; }

h1 {
  font-size: 1.9em;
  line-height: 1;
  margin-top: 0.7em;
  margin-bottom: 0.5em;
  /*
  @media only all and (min-width: 25em) {
    font-size: 2.375em;
  }

  @media only all and (min-width: 30em) {
    font-size: 2.85em;
  }

  @media only all and (min-width: 35em) {
    font-size: 3.325em;
  }

  @media only all and (min-width: 40em) {
    font-size: 3.8em;
  }
  */ }
  @media only all and (min-width: 40em) {
    h1 {
      font-size: 2.3em; } }
  @media only all and (min-width: 60em) {
    h1 {
      font-size: 2.7em; } }
  @media only all and (min-width: 80em) {
    h1 {
      font-size: 3.1em; } }

img, picture {
  max-width: 100%; }

dl.metadata dt {
  color: #a47140;
  text-transform: uppercase;
  display: block;
  font-size: 0.8em;
  margin-top: 1em; }
  dl.metadata dt:first-child {
    margin-top: 0; }
dl.metadata dd {
  margin: 0;
  padding: 0; }

.csl-bib-body .csl-entry {
  text-indent: -1rem;
  padding-left: 1rem;
  margin: 1rem 0; }

.text-center {
  text-align: center; }

.bibentry-title, .title {
  font-style: italic; }

.bibentry-label, .bioentry-label {
  display: block;
  line-height: 1.3;
  text-indent: -1rem;
  padding-left: 1rem; }

.bibentry-label {
  padding-top: 1rem;
  padding-bottom: 1rem; }
