<VirtualHost *:80>
        ServerAdmin {{ admin_email }}
        ServerName {{ host_name }}.{{ dns_suffix }}

        <Directory />
                Options FollowSymLinks
                AllowOverride None
        </Directory>

        ErrorLog ${APACHE_LOG_DIR}/error.log

        # Possible values include: debug, info, notice, warn, error, crit,
        # alert, emerg.
        LogLevel warn

        CustomLog ${APACHE_LOG_DIR}/access.log combined

#### Begin SDA config

    ProxyRequests Off
    ProxyPreserveHost On

    <Proxy *>
        Require all granted
    </Proxy>


    <Location /solr/>
        {% if solr_public == true %}
        Require all granted
        {% else %}
        Require ip 127.0.0.1 {{ docker_subnet }}
        {% endif %}
        ProxyPass           http://localhost:8983/solr/ retry=0
        ProxyPassReverse    http://localhost:8983/solr/
    </Location>
    
#    <Location /solr/HathiFiles/>
#        Require all granted
#        ProxyPass           http://localhost:8984/solr/ retry=0
#        ProxyPassReverse    http://localhost:8984/solr/
#    </Location>

    <Location /api/catalog/>
        Require all granted
        ProxyPass           ajp://localhost:8009/sda/services/ retry=0
        ProxyPassReverse    ajp://localhost:8009/sda/services/
    </Location>
    
    # main site #
    DocumentRoot {{ project_directory }}/web/
    <Directory {{ project_directory }}/web/>
      Options Indexes FollowSymLinks MultiViews
      AllowOverride all
      Require all granted
    </Directory>

    <IfModule mod_expires.c>
        ExpiresActive on
        ExpiresByType application/json          "access plus 0 seconds"
    </IfModule>

##### End SDA config  
    
{% if ssl_enabled == true %}    
    RewriteEngine On

    # force everything else to https
    RewriteCond %{HTTPS} off
    
    RewriteRule (.*) https://%{SERVER_NAME}$1 [R,L]
{% else %}
    <Location /tomcat-sda/>
        # It is recommended to enable this next line to restrict access to tomcat manager to the local subnet
        #Require ip {{ local_subnet }}
        ProxyPass                       http://localhost:8080/ retry=0
        ProxyPassReverse                http://localhost:8080/
        #SetOutputFilter proxy-html
        #ProxyHtmlURLMap ^/(.*)$                 /tomcat-sda/$1 R
    </Location>
{% endif %}



</VirtualHost>
